[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aioredis = "*"
motor = "*"
python-multipart = "*"
dnspython = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = "*"
python-rapidjson = "*"
minio = "*"
hypercorn = {extras = ["trio"], version = "*"}
fuzzy = "*"
celery = {extras = ["redis"], version = "*"}
typesense = "*"

[dev-packages]

[requires]
python_version = "3.9"
